*{margin:0px;}
#main, #canvas{
  border: 2px solid black;
}
#canvas{
  width:65%;
  height:700px;
  margin:auto;

  
}
#form-body{
  border: 1px solid grey;
  width:300px;
  height:400px;
  margin:auto;
  margin-top: 200px;
  border-radius: 5px;
  padding: 10px;
}
.headings{
  margin: 10px;
  padding:5px;
  margin-top: 10px;
}